body {
	background-color: #F5CDCC;
}
h1 {
	color:black;
	text-align:center ;
	font-family:Playfair Display;
	font-size:20px;
}
a {
	color:black;
	text-align:left ;
	font-family:Yeseva One;
	font-weight:40;
	font-size:10px;
}

th, td {
text-align:center ;
  padding: 1opx;
}
div {
  column-gap: 40px;
}
